<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <img src="/images/logo-mercado-liebre.svg" alt="Logo de mercado Liebre">
    <p>Buscar productos, marcas y más<br><br> Comprá en cuotas y sin tarjeta de crédito</p>
    
    <ul>
        <li><a href="#ofertas">Ofertas</a></li>
        <li><a href="tiendas.html">Tiendas Oficiales</a></li>
        <li><a href="vender.html">Vender</a></li>
        <li><a href="ayuda.html">Ayuda</a></li>
    </ul>
    <ul>
        <li><a href="crear_cuenta.html">Creá tu cuenta</a></li>
        <li><a href="login.html">Ingresá</a></li>
        <li><a href="mis_compras.html">Mis compras</a></li>
    </ul>
    <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre" width="320">

    <h2>Basado en tu última visita</h2>
    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="320">
    <h4>$6.770 </h3>
    <h4>40% OFF </h3>
    <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro" width="320">
    <h4>$150.970 </h3>
    <h4>10% OFF </h3>
    <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="320">
    <h4>$54.230 </h3>
    <h3>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" width="320">
    <h4>$89.410 </h3>
    <h4>20% OFF </h3>
    <h3>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>

    <h3 id="ofertas">Ofertas</h3>

    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="320">
    <h4>$6.770 </h3>
    <h4>40% OFF </h3>
    <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-macbook-pro-2019.jpg" alt="Mac Book Pro" width="320">
    <h4>$150.970 </h3>
    <h4>10% OFF </h3>
    <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10" width="320">
    <h4>$89.410 </h3>
    <h4>20% OFF </h3>
    <h3>Samsung Galaxy s10 Lorem ipsum, dolor sit amet.</h3>
    <br>
    <img src="/images/img-tv-samsung-smart.jpg" alt="TV Samsung" width="320">
    <h4>$54.230 </h3>
    <h3>Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.</h3>
    <br>
    <p> <h3>Pagá con tarjeta o en efectivo</h3>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de
        pago. ¡Y siempre es seguro!
        
        <h3>Envío gratis desde $ 1.999</h3>
        Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.
        
        <h3>Seguridad, de principio a fin</h3>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegido.
        <br>
        <br>
        <br>
        
        Copyright © 1999-2019 MercadoLiebre S.R.L.

    </p>
    
</body>
</html>