<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiendas Oficiales</title>
</head>
<body>
    <h2 align="center">Tiendas Oficiales</h2>
    <div align="center"><a titel="Dolce Gusto" href="https://www.dolce-gusto.com.ar/"><img src="/images/logo_dg.png" alt="Logo Dolce Gusto" width="150" ><br>Ir a Dolce Gusto</a></div>
    
    <div align="center"><a titel="Samsung" href="https://www.samsung.com/ar/"><img src="/images/samsung.png" alt="Logo Samsung" width="150" ><br>Ir a Samsung</a></div>
    
</body>
</html>